:root {
    --dark: #3A3A3A;
    --darker: #242424;
    --darkest: #1a1919;
    --light: #FFF;
    --less-light: rgb(189, 188, 188);
    --less-dark: #585858;
    --accent: #527CEA;
    --accent-dim: #314E97;
    --transparent: #00000000;

    --correctGreen: #70ff70;
    --wrongRed: #ff7777;

    --header-gradient: linear-gradient(to right, var(--accent-dim), var(--accent));
    --background-colour: var(--dark);
    --title-text-colour: var(--accent);
    --line-colour: var(--accent);
    --body-text-colour: var(--light);
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: var(--background-colour);
    overflow-x: hidden;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.column {
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    display: flex;
    flex: 1;
}

.row {
    width: 100%;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex: 1;
}

.contents {
    margin: auto;
    word-wrap: break-word;
    color: var(--body-text-colour);
    text-align: center;
    font-size: 20px;
}

/*-----------------------------------------------mobile-devices--------------------------------------------------*/

@media screen and (max-width: 450px) {
    .contents {
        margin:auto;
    }
    .quiz-attachment {
        flex: initial;
        padding-bottom: 5vh;
    }
    .quiz-radio-section {
        flex: initial;
    }
    .side-panel {
        width: 100vw;
    }
    .side-panel-header-spacing {
        padding-top: 42px;
    }
    .title-bar {
        width: min-content;
        flex-flow: column wrap;
        margin: auto;
        margin-bottom: 5vh;
    }
    .title {
        margin-bottom: 1vh;
    }
}

@media screen and (max-width: 700px) {
    .title-bar {
        display: flex;
        margin: auto;
        flex-direction: column;
    }
    .title-bar-right-items {
        margin: auto;
    }
}

/*-----------------------------------------------bigger-devices--------------------------------------------------*/
@media screen and (min-width: 450px) {
    .side-panel {
        width: 300px;
    }
    .side-panel-header-spacing {
        padding-top: 68px;
    }
}

@media screen and (min-width: 700px) {
    .title-bar {
        width: 100vw;
    }
    .topic-name {
        padding-left: 10vw;
    }
}

/*-----------------------------------------------header and navigation--------------------------------------------------*/

#page-header {
    width: 100%;
    height: auto;
    background-image: var(--transparent); /* hidden by default; prevents pop-up on page load before being hidden
                                           * --transparent is used on the home page so that the loading of the page is cleaner; the header pop-ups before being
                                           * hidden as JavaScript takes about a third of a second to load before it is able to hide it
                                           */

    position: fixed;

    z-index: 99;
}

.header-svg {
    height: 3rem;
    padding: 10px;
}

#page-header #logo {
    float: left;
    cursor: pointer;
    opacity: 0; /* hidden by default; prevents pop-up on page load before being hidden
                 * this is used on the home page so that the loading of the page is cleaner; the header pop-ups before being
                 * hidden as JavaScript takes about a third of a second to load before it's able to hide it
                 */
}

.navigation {
    position: absolute;
	list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
	margin: 0;

	display: inline-flex;
}

.navigation a {
    text-decoration: none;
	display: block;
	padding: 20px;
    
	color: #FFF;
    font-weight: bold;
}

.navigation a:hover {
	color: #AFC6FF;
    cursor: pointer;
}

#nav-bar {
    flex-flow: row wrap;
	justify-content: flex-start;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav-bar a {
    text-shadow: 0 0 3px #000000;
    font-size: 1.5em;
}

#nav-menu {
    position: fixed;
    height: 100%;
    width: 25%;

    /* top: 0; */
    right: 0;
    /* transform: translate(0, 0); */

    background-image: radial-gradient(circle farthest-side at top right, var(--accent), var(--accent-dim));
    box-shadow: -1vw 0 10vw #0000005F;

    display: none;
    z-index: 100;
}

#nav-menu-options {
    position: absolute;
    font-size: 1.5rem;
    max-width: 25vw;
    padding-top: 6vw;

    display: flex;
    flex-flow: column;
}

#mobile-nav-btn {
    position: absolute;
    float: right;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    display: none; /* instead of setting the opacity to 0, we make the entire element disappear; this way it won't be clickable while invisible */
    cursor: pointer;
}

#close-btn {
    position: absolute;
    float: right;
    right: 0.6vw;

    width: 1.5rem;
    height: 1.5rem;
    
    cursor: pointer;

    z-index: 100;
}

@media screen and (max-width: 1080px) {
    #nav-bar {
        display: none;
    }

    #mobile-nav-btn {
        display: block;
    }
}

@media screen and (max-width: 768px) { /* this and the following 'max-width' queries widen the navigation menu based on the device, as smaller screens were squashing the font */
    #nav-menu {
        width: 33%;
    }

    #nav-menu-options {
        max-width: 33vw;
    }

    .header-svg {
        height: 2.4rem;
        width: 2.4rem;
        padding: 7px;
    }
}

@media screen and (max-width: 570px) {
    #nav-menu {
        width: 50%;
    }

    #nav-menu-options {
        max-width: 50vw;
    }

    .header-svg {
        width: 2em;
        height: 2em;
        padding: 5px;
    }
}

@media screen and (max-width: 370px) {
    #nav-menu {
        width: 65%;
    }

    #nav-menu-options {
        max-width: 65vw;
    }
}

@media screen and (min-width: 1081px) {
    #nav-menu {
        display: none !important;
        /*animation: none !important; / disables style effects set by the move in animation; this must be marked as important in order for it to overwrite the enforcements made by jQuery */
    }
}

/* This animation no longer works since the separation of the nav menu from the nav bar; the menu used to slide
 * in from outside the header div but because it is now on the body of the page, if we were to use this animation,
 * it would still be on the page before it runs and all it would take for the user to see it, without pressing the
 * button, is to swipe to the right. I cannot put it in a div and do the same thing again as the div would overlap
 * the page (including the navigation menu open button) and therefore making everything not clickable on the area
 * which the nav menu appears.

/@keyframes show-mobile-nav { 
    from {
        width: 0vw;
        box-shadow: 0 0 0 #00000000;
    }
    to {
        width: 50vw;
        box-shadow: -1vw 0 10vw #0000005F;
    }
}

@keyframes hide-mobile-nav {
    from {
        width: 50vw;
        box-shadow: -1vw 0 10vw #0000005F;
    }
    to {
        width: 0vw;
        box-shadow: 0 0 0 #00000000;
    }
}*/


/*----------------------------------------------- landing page image and titles --------------------------------------------------*/

.bg-img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;

    opacity: 0.6;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#landing-flex {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;    
    height: auto;
    position: absolute;
    top: 13vw;
    left: 0;
}

#landing-flex #logo {
    height: 10vw;
    /* filter: url(#dropshadow); * this is supposed to utilize the HTML tag (for creating a drop shadow) specified in the 'home.html' head but, as stated there, it doesn't work */
}

#landing-flex .title-text {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    text-shadow: 0 0 5px #000;
}

#landing-flex h1 {
    color: var(--title-text-colour);
    font-size: 6vw;
}

#landing-flex h2 {
    color: var(--body-text-colour);
    font-size: 4vw;
}

@media only screen and (max-width: 768px) {
    #landing-flex {
        top: 7vw;
    }

    #landing-flex * {
        padding: 0 3vw;
    }

    #landing-flex #logo {
        height: 14vw;
    }

    #landing-flex h1 {
        font-size: 10vw;
    }

    #landing-flex h2 {
        font-size: 6vw;
    }
}


/*-----------------------------------------------'Contact Us' links----------------------------------------------*/

.svg-list-container {
    display: table; /* allows centre-ing of lists to work */
    margin: 0 auto;
}

.svg-list {
    list-style: none;
    margin: 0 auto;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.svg-list li {
    width: auto;
    height: auto;
    padding: 2vw;
}

.social-svg {
    width: 6em;
    height: 6em;
}

@media only screen and (max-width: 768px) {
    .svg-list li {
        padding: 3vw;
    }

    .social-svg {
        width: 3.5em;
        height: 3.5em;
    }
}


/*-----------------------------------------------page body formatting----------------------------------------------*/

.grid-container {
    height: fit-content;
    width: 100%;

    box-sizing: border-box;
    display: grid;
    position: relative;
    grid-gap: 10vw;
}

.grid-body-item {
    max-width: 100vw;
    overflow: hidden;
    padding: 0 3vw;
}

.grid-body-item .body-title {
    text-align: center;
    font-size: 4.5em;
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--title-text-colour);
}

.grid-body-item hr { /* https://stackoverflow.com/a/14821134 */
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid var(--line-colour);
    margin: 3em 42vw;
    padding: 0;
}

.grid-body-item .body-text {
    font-size: 1.5em;
    color: var(--body-text-colour);
    margin: 3em 15vw;
    line-height: 2em;
}

@media only screen and (max-width: 768px) {
    .grid-body-item .body-title {
        font-size: 2.3em;
    }

    .grid-body-item .body-text {
        font-size: 1em;
        margin: 2.5em 10vw;
    }

    .grid-body-item hr {
        margin: 1.5em 40vw;
    }
}

/*-----------------------------------------------tests-menu--------------------------------------------------*/

.level-button {
    margin-right: 1vw;
    border-radius: 25px;
    background-color: var(--background-colour);
    color: var(--body-text-colour);
    font-weight: bolder;
    width: fit-content;
    height: 30px;
    min-width: 30px;
    cursor: pointer;
}

.stats-box {
    border-radius: 25px;
    background-color: var(--darker);
    padding: 0.5rem;
}

.stat-item {
    display: flex;
    margin: auto;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
    float: left;
}

.title-bar {
    width: 100%;
}

.title-bar-right-items {
    right: 10vw;
    float: right;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    display: flex;
    flex-flow: row wrap;
    max-width: 90vw;
    height: fit-content;
}

.topic-item {
    margin-bottom: 1rem;
    flex-direction: row wrap;
    display: flex;
    align-self: center;
    width: inherit;
}

.topic-levels {
    width: max-content;
    flex-flow: row;
    align-items: flex-start;
    margin-bottom: 1rem;
    margin-right: auto;
    max-width: 100%;
    min-width: 50%;
}

.topic-name {
    width: inherit;
}

.topics-line {
    border-right: 4px solid var(--light);
    height: inherit;
    left: 50%;
    margin-left: auto;
    padding-left: 2vw;
    margin-right: 6vw;
}

#topics-menu {
    font-weight: bold;
    display: flex;
    width: 90vw;
    flex-direction: column;
    text-align: left;
}

/* SIDE PANEL */
.side-panel {
    visibility: hidden;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    background-color: var(--darker);
    z-index: 50;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.side-panel-description {
    overflow-y: auto;
    min-height: 40vh;
}

.close-side-panel-button {
    color: var(--less-dark);
    float: left;
}

.close-side-panel-button:hover {
    cursor: pointer;
}
/*-----------------------------------------------quiz--------------------------------------------------*/
.quiz-back-space {
    align-content: flex-start;
}

.quiz-body {
    padding: 0 8vw
}

.quiz-btn {
    border-radius: 25px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: var(--accent-dim);
    color: var(--light);
    height: 40px;
}

.quiz-btn:hover {
    cursor: pointer;
}

.quiz-buttons {
    margin: 5vh 0;
}

.quiz-continue-space {
    align-content: flex-end;
}

.quiz-finish-btn {
    border-radius: 25px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: large;
    font-weight: bolder;
    background-color: var(--light);
    color: var(--accent-dim);
    height: 40px;
}

.quiz-finish-btn {
    cursor: pointer;
}

.quiz-instructions {
    color: var(--darkest);
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}

.quiz-radio-btn {
    vertical-align: text-top;
    height: 1.5em; 
    width: 1.5em;
}

.quiz-radio-row {
    display: inline;
    width: fit-content;
    align-self: flex-start;
    padding-left: 2vw;
}

.quiz-radio-section {
    margin: auto;
    width: 100%;
}

#quiz-img {
    width: 100%;
    max-width: 500px;
}

.quizzes-navigation {

}

.quizzes-navigation-btn {

}

.answer{
    background-color: none;
}

/*-----------------------------------------------test-results--------------------------------------------------*/
.feedback-answer {
    font-size: 18px;
    color: var(--less-light);
    padding-bottom: 10px;
}

.feedback-answers {
    background-color: var(--darker);
    border-radius: 25px;
    padding: 2vw;
}

.results-icon-space {

}