:root {
    --dark: #3A3A3A;
    --darker: #242424;
    --light: #FFF;
    --accent: #527CEA;
    --accent-dim: #314E97;
    --transparent: #00000000;

    --header-gradient: linear-gradient(to right, var(--accent-dim), var(--accent));
    --background-colour: var(--dark);
    --title-text-colour: var(--accent);
    --line-colour: var(--accent);
    --body-text-colour: var(--light);
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: var(--background-colour);
    overflow-x: hidden;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.column {
    margin: auto;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    height: fit-content;
    display: flex;
    flex: 1;
}

.row {
    margin: auto;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex: 1;
}

.contents {
    word-wrap: break-word;
    color: var(--body-text-colour);
    text-align: center;
    font-size: 20px;
}

/*-----------------------------------------------mobile-devices--------------------------------------------------*/

@media screen and (max-width: 450px) {
    .contents {
        margin:auto;
    }
    .level-button {
        width: 25px;
        height: 25px;
    }
    .tests-bar {
        width: min-content;
        flex-flow: column wrap;
        margin: auto;
        margin-bottom: 5vh;
    }
    .title {
        margin-bottom: 1vh;
    }
}

@media screen and (max-width: 700px) {
    .tests-bar {
        display: flex;
        margin: auto;
        flex-direction: column;
    }
    .test-stats {
        margin: auto;
    }
}

/*-----------------------------------------------bigger-devices--------------------------------------------------*/


@media screen and (min-width: 450px) {
    .level-button {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 700px) {
    .tests-bar {
        width: 100vw;
    }
    .topic-name {
        padding-left: 10vw;
    }
}

/*-----------------------------------------------header and navigation--------------------------------------------------*/

#page-header {
    width: 100%;
    height: auto;
    background-image: var(--header-gradient); /* var(--transparent); * hidden by default; prevents pop-up on page load before being hidden
                                                                     * --transparent was only used on the home page so that the loading of the page was cleaner; it would pop-up before being
                                                                     * hidden as JavaScript takes about a third of a second to load before it could hide it (it isn't essential.)
                                                                     */

    position: fixed; /* This forces the header to stay at the top of the page, regardless of how far we've scrolled; once it becomes fixed,
                      * it is no longer apart of the order of all HTML elements and is now in it's own "box". Thus, it will have no effect
                      * on the positioning of any other element on the page (it will not shift elements down to make room for itself.)
                      */
    
    z-index: 99; /* this is used to force the header on top of everything else, making it persistent on the page */
}

.header-svg {
    height: 3rem;
    padding: 10px;
}

#page-header #logo {
    float: left;
    /*opacity: 0; * hidden by default; prevents pop-up on page load before being hidden
                  * This was only used on the home page so that the loading of the page was cleaner; it would pop-up before being
                  * hidden as JavaScript takes about a third of a second to load before it could hide it (it isn't essential.)
                  */
}

#navigation {
	list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
	margin: 0;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 0 0 #00000000;
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: flex-start;

    z-index: 100; /* again, this is used to force the menu on top of everything else and also the header */
}

#navigation a {
	text-decoration: none;
	display: block;
	padding: 20px;
    
	color: #FFF;
    text-shadow: 0 0 3px #000000;
    font-size: 1.5em;
	font-weight: bold;
}

#navigation a:hover {
	color: #AFC6FF;
}

#mobile-nav {
    position: absolute;
    float: right;
    right: 0;
    height: 0; /* instead of setting the opacity to 0, we make the entire element disappear; this way it won't be clickable while invisible */
}

#close-btn {
    float: right;
    transform: translate(42vw, 0);
    height: 0; /* instead of setting the opacity to 0, we make the entire element disappear; this way it won't be clickable while invisible */
}

@media screen and (max-width: 768px) {
    .header-svg {
        height: 2.4rem;
        padding: 7px;
    }
}

@media screen and (max-width: 1080px) {
    #navigation { /* this moves the navigation bar options from the top of the page to the list seen down the right hand side - I made it this way to prevent us from having to implement a separate list of links for mobile devices */
        height: 100vh;
        width: 50vw;

        top: 0;
        left: 100%;
        transform: translate(0, 0);

        display: flex;
        flex-flow: column;

        background-image: radial-gradient(circle farthest-side at top right, var(--accent), var(--accent-dim));
    }

    #navigation li:first-child {
        padding-top: 10vw;
    }

    #navigation li {
        height: 6vw;
        padding: 3vw;
    }

    #navigation a {
        font-size: 6.5vw;
        text-shadow: none;
        padding: 0;
    }

    #mobile-nav {
        height: 75%;
    }

    #close-btn {
        width: 5vw;
        height: 5vw;
    }
}

@media screen and (min-width: 1081px) {
    #navigation {
        animation: none !important; /* disables style effects set by the move in animation; this must be marked as important in order for it to overwrite the enforcements made by jQuery */
    }
}

@keyframes open-mobile-nav {
    from {
        left: 100%;
        box-shadow: 0 0 0 #00000000;
    }
    to {
        left: 50%;
        box-shadow: -1vw 0 10vw #0000005F;
    }
}

@keyframes close-mobile-nav {
    from {
        left: 50%;
        box-shadow: -1vw 0 10vw #0000005F;
    }
    to {
        left: 100%;
        box-shadow: 0 0 0 #00000000;
    }
}


/*----------------------------------------------- landing page image and titles --------------------------------------------------*/

.bg-img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;

    opacity: 0.6;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#landing-flex {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;    
    height: auto;
    position: absolute;
    top: 13vw;
    left: 0;
}

#landing-flex #logo {
    height: 10vw;
    /* filter: url(#dropshadow); * this is supposed to utilize the HTML tag (for creating a drop shadow) specified in the 'home.html' head but, as stated there, it doesn't work */
}

#landing-flex .title-text {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    text-shadow: 0 0 5px #000;
}

#landing-flex h1 {
    color: var(--title-text-colour);
    font-size: 6vw;
}

#landing-flex h2 {
    color: var(--body-text-colour);
    font-size: 4vw;
}

@media only screen and (max-width: 768px) {
    #landing-flex {
        top: 7vw;
    }

    #landing-flex * {
        padding: 0 3vw;
    }

    #landing-flex #logo {
        height: 14vw;
    }

    #landing-flex h1 {
        font-size: 10vw;
    }

    #landing-flex h2 {
        font-size: 6vw;
    }
}


/*-----------------------------------------------'Contact Us' links----------------------------------------------*/

.svg-list-container {
    display: table; /* allows centre-ing of lists to work */
    margin: 0 auto;
}

.svg-list {
    list-style: none;
    margin: 0 auto;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    display: inline-flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.svg-list li {
    width: auto;
    height: auto;
    padding: 2vw;
}

.social-svg {
    width: 6em;
    height: 6em;
}

@media only screen and (max-width: 768px) {
    .svg-list li {
        padding: 3vw;
    }

    .social-svg {
        width: 3.5em;
        height: 3.5em;
    }
}


/*-----------------------------------------------page body formatting----------------------------------------------*/

.grid-container {
    height: 100%;
    width: 100%;

    box-sizing: border-box;
    display: grid;
    position: relative;
    grid-gap: 10vw;
}

.grid-body-item {
    max-width: 100vw;
    overflow: hidden;
    padding: 0 3vw;
}

.grid-body-item .body-title {
    text-align: center;
    font-size: 4.5em;
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--title-text-colour);
}

.grid-body-item hr { /* https://stackoverflow.com/a/14821134 */
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid var(--line-colour);
    margin: 3em 42vw;
    padding: 0;
}

.grid-body-item .body-text {
    font-size: 1.5em;
    color: var(--body-text-colour);
    margin: 3em 15vw;
    line-height: 2em;
}

@media only screen and (max-width: 768px) {
    .grid-body-item .body-title {
        font-size: 2.3em;
    }

    .grid-body-item .body-text {
        font-size: 1em;
        margin: 2.5em 10vw;
    }

    .grid-body-item hr {
        margin: 1.5em 40vw;
    }
}

/*-----------------------------------------------tests-menu--------------------------------------------------*/

.level-button {
    margin-right: 1vw;
    border-radius: 25px;
    background-color: var(--background-colour);
    color: var(--body-text-colour);
    font-weight: bolder;
}

.stats-box {
    border-radius: 25px;
    background-color: var(--darker);
    padding: 0.5rem;
}

.stat-item {
    display: flex;
    margin: auto;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
    float: left;
}

.tests-bar {
    width: 100%;
    margin-bottom: 5vh;
}

.test-stats {
    right: 10vw;
    float: right;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    display: flex;
}

.topic-item {
    margin-bottom: 1rem;
    flex-direction: row wrap;
    display: flex;
    align-self: center;
    width: inherit;
}

.topic-levels {
    width: max-content;
    flex-flow: row;
    align-items: flex-start;
    margin-bottom: 1rem;
    margin-right: auto;
    max-width: 100%;
    min-width: 50%;
}

.topic-name {
    width: inherit;
}

.topics-line {
    border-right: 4px solid var(--light);
    height: inherit;
    left: 50%;
    margin-left: auto;
    padding-left: 2vw;
    margin-right: 6vw;
}

.topics-menu {
    font-weight: bold;
    display: flex;
    width: 90vw;
    flex-direction: column;
    text-align: left;
}