body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body::after {
    content: " ";
    background-image: url("../../images/BG_temp.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}


/*-----------------------------------------------grid-Container--------------------------------------------------*/

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: main;
}

.item5 {
    grid-area: footer;
}

.item6 {
    grid-area: menuItems;
}

.grid-container {
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
	'header header header header header header header header header header header' 
	'main main main main main main main main main main main' 
	'main main main main main main main main main main main' 
	'main main main main main main main main main main main' 
	'main main main main main main main main main main main' 
	'main main main main main main main main main main main' 
	'main main main main main main main main main main main' 
	'main main main main main main main main main main main' 
	'main main main main main main main main main main main' 
	'main main main main main main main main main main main' 
	'main main main main main main main main main main main' 
	'footer footer footer footer footer footer footer footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
    height: 100vh;
    width: 100vw;
}

.grid-container footer,
div,
header,
section {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding: 20px 0 0 0;
}


/*-----------------------------------------------END grid-Container----------------------------------------------*/


/*-----------------------------------------------Menu sidebar----------------------------------------------------*/


/*------The code below is derived from - https://www.w3schools.com/howto/howto_js_sidenav.asp--------------------*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/*-------------------------------------------END Menu sidebar----------------------------------------------------*/


/*-----------------------------------------------grid-Container--------------------------------------------------*/

@media screen and (max-width: 800px) {
    .grid-container {
       grid-template-areas: 
	'header' 
	'main' 
	'main' 
	'main' 
	'main' 
	'main' 
	'main' 
	'main' 
	'main' 
	'main' 
	'footer'
    }
}


/*------------------------------------------END-grid-Container--------------------------------------------------*
