<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--link the font M PLUS Rounded 1c (Medium and ExtraBold)-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;800&display=swap" rel="stylesheet">    
    
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Street Soccer PITCH | Home</title>
    <link rel="icon" href="../static/images/DrBall.svg" type="image/gif" sizes="16x16">

</head>

<body>
    <!--
    <nav id="mySidenav" class="sidenav">

        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Home</a>
        <a href="#">Learning</a>
        <a href="#">Registration & Sign In</a>
        <a href="#">Contact</a>
        <a href="#">Admin Login</a>
        <a href="#">Contact</a>

    </nav>
    -->

    <div id="header">
        <!--<span style="font-size:40px;cursor:pointer; margin: 40px; float: inline-start;" onclick="openNav()">
            &#9776;</span>-->
        <img id="logo" src="../static/images/DrBall.svg" style="cursor:pointer;" onclick="openNav()">
    </div>

    <div class="grid-container">
        <div id="grid-heading-item">
            <img class="bg-img" src="../static/images/BG_temp.png"/>

            <div id="landing-flex">
                <img id="logo" src="../static/images/DrBall.svg">
                <h1 class="title-text">Street Soccer</h1>
                <h2 class="title-text">Players in Training, Coaching and Health</h2>
            </div>
        </div>

        <div class="grid-body-item">
            <h1 class="body-title">About Us</h1>
            <hr/>
            <p class="body-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique aspernatur exercitationem aliquam ullam saepe doloremque ducimus facilis dolorem omnis, id inventore iure, minima sint quam eligendi.</p>
            <p class="body-text">Praesentium quaerat ducimus commodi reprehenderit magnam quae obcaecati, laborum porro illo dicta? Laboriosam odit qui ex tempore voluptatem fugit voluptas cupiditate sapiente error omnis.</p>
            <p class="body-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dignissimos ex saepe nobis maxime quia rem consectetur culpa facilis, ullam modi laborum iste ratione nostrum tempora quos blanditiis dolore dicta!</p>
        </div>

        <!--<footer class="item5">

            <!-    All these icons are under following licence agreement: https://iconmonstr.com/license/  --

            <img src="../images/iconmonstr-facebook-4.svg">
            <img src="../images/iconmonstr-twitter-4.svg">
            <img src="../images/iconmonstr-instagram-14.svg">

        </footer>-->

    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>


</body>

</html>