{% extends "base.html" %}
{% block title %}Quiz{% endblock %}
{% block content %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- this page is populated using JavaScript -->
	<div class="grid-container container-with-top-pad">
		<script>
			request.ajax({endpoint: 'tests', data: {test_id: storageUtils.getSessionValue(storageUtils.testID)}, handler: requestHandlers.displayTest});
		</script>
		<div class="grid-body-item contents column quiz-body">
			<br>
			<div id="quiz-progress-container" class="row">
				<span id="progress-bar-bg" class="progress-bar">
					<span id="progress-bar-content" class="progress-bar"></span>
				</span>
				<h3 id="progress-percent">0%</h3>
			</div>
			<br>
			<div id="quizzes-navigation" class="row">
			</div>
			<br>
			<div id="quiz-title" class="title"></div>
			<p id="quiz-instructions" class="quiz-instructions">
			</p>
			<p id="quiz-text" class="quiz-text">
			</p>
			<br>
			<div class="row quiz-content-row">
				<!-- displays are set to "none" and only become visible when they're needed -->
				<div class="column quiz-attachment" style="display: none;">
					<img id="quiz-img" src="" style="display: none;"/>
					<iframe id="quiz-vid" class="quiz-vid" style="display: none;" frameborder="0" 
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
					</iframe>
				</div>
				<div id="quiz-radio-section" class="column quiz-radio-section" style="display: none;"></div>
			</div>
			<div class="row quiz-buttons">
				<div class="column quiz-back-space">
				</div>
				<div class="column quiz-continue-space">
				</div>
			</div>
		</div>
	</div>
{% endblock %}