{% extends "base.html" %}
{% block title %}Quiz{% endblock %}
{% block content %}
	<!-- this page is populated using JavaScript -->
	<div class="grid-container" style="padding-top: 10vh;">
		<script>
			request.ajax({endpoint: 'tests', extension: storageUtils.getSessionValue(storageUtils.testID), handler: requestHandlers.displayTest});
		</script>
		<div class="grid-body-item contents column quiz-body">
			<br>
			<div id="quizzes-navigation" class="row">
			</div>
			<br>
			<div id="quiz-title" class="title"></div>
			<p id="quiz-instructions" class="quiz-instructions">
			</p>
			<p id="quiz-text">
			</p>
			<br>
			<div class="row quiz-content-row">
				<!-- displays are set to "none" and only become visible when they're needed -->
				<div class="column quiz-attachment" style="display: none;">
					<img id="quiz-img" style="width: 100%;" src=""/>
				</div>
				<div id="quiz-radio-section" class="column quiz-radio-section" style="display: none;"></div>
			</div>
			<div class="row quiz-buttons">
				<div class="column quiz-back-space">
				</div>
				<div class="column quiz-continue-space">
				</div>
			</div>
		</div>
	</div>
{% endblock %}