<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="item1 row" style="background-color: #527CEA; padding: 30px 30px;">
        HEADER HERE
    </div>
    <br>
    <div class="item2 contents column">
        <div class="tests-bar">
            <div class="title">Your Tests</div>  
            <div class="test-stats">
                <div class="stat-item">Completed:
                    <div class="stats-box">70%</div>
                </div>
                &nbsp;
                <div class="stat-item">Credits:
                    <div class="stats-box">10/120</div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
        <br>
        <div class="row">wfgggggggg ggggggggggtys nbadfsv ngsryjwhe qgrWV HTW4B53Q4wgh jtrwu4y53qt4    wEFDVSBZV CXBMTJEU WY 53QT4Wges VBzngs jrty5q3t4wEGbZ MTKYJU4WYQ53GRgg ggggggggg ggggggggggg ggggggggggg ggggggggg ggggggggg ggggggggggggg ggggggggggg reht rth t erh ret r  tr rw hwrt hth wr </div>
        <div class="row">eee</div>
        <div class="row">wert</div>
    </div>
</body>

</html>