<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;800&display=swap" rel="stylesheet">    

    <link rel="stylesheet" href="../static/css/style.css">

    <link rel="icon" href="../static/images/DrBall.svg" type="image/gif" sizes="16x16">
</head>

<body>
    <div class="grid-container">
        <div class="grid-body-item contents column">
            <br>
            <div class="">
                <div class="tests-bar">
                    <div class="title">Assignments</div>
                    <div class="test-stats">
                        <div class="stat-item">Progress:
                            <div class="stats-box">70%</div>
                        </div>
                        &nbsp;
                        <div class="stat-item">Credits:
                            <div class="stats-box">10/120</div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <br>
                <div class="topics-menu">
                    <div class="topic-item">
                        <b class="topic-name">Children Protection Programme</b>
                        <div class="topics-line"></div>
                        <div class="topic-levels">
                            <button class="level-button">1</button>
                            <button class="level-button">2</button>
                            <button class="level-button">3</button>
                        </div>
                    </div>
                    <div class="topic-item">
                        <b class="topic-name">Topic</b>
                        <div class="topics-line"></div>
                        <div class="topic-levels">
                            <button class="level-button">1</button>
                            <button class="level-button">2</button>
                            <button class="level-button">3</button>
                            <button class="level-button">4</button>
                        </div>
                    </div>
                    <div class="topic-item">
                        <b class="topic-name">Topic</b>
                        <div class="topics-line"></div>
                        <div class="topic-levels">
                            <button class="level-button">1</button>
                            <button class="level-button">2</button>
                            <button class="level-button">3</button>
                        </div>
                    </div>
                    <div class="topic-item">
                        <b class="topic-name">Topic</b>
                        <div class="topics-line"></div>
                        <div class="topic-levels">
                            <button class="level-button">1</button>
                            <button class="level-button">2</button>
                            <button class="level-button">3</button>
                            <button class="level-button">4</button>
                            <button class="level-button">5</button>
                        </div>
                    </div>
                    <div class="topic-item">
                        <b class="topic-name">Topic</b>
                        <div class="topics-line"></div>
                        <div class="topic-levels">
                            <button class="level-button">1</button>
                            <button class="level-button">2</button>
                        </div>
                    </div>
                    <div class="topic-item">
                        <b class="topic-name">Topic</b>
                        <div class="topics-line"></div>
                        <div class="topic-levels">
                            <button class="level-button">1</button>
                            <button class="level-button">2</button>
                            <button class="level-button">3</button>
                            <button class="level-button">4</button>
                        </div>
                    </div>
                    <div class="topic-item">
                        <b class="topic-name">Topic</b>
                        <div class="topics-line"></div>
                        <div class="topic-levels">
                            <button class="level-button">1</button>
                            <button class="level-button">2</button>
                            <button class="level-button">3</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>